*.obj
*.tlog
*.class
*.pyc
*.o
*.pdb
*.exp

#ignore release output folder
Billiards/simulator
Billiards/publish

cocostudio/MainScene.udf

obj/
!ball.obj
bin/
*.d

#ignore cocostudio
CocosStudio/Export/
CocosStudio/cocosstudio/**/.*.Dir
CocosStudio/cocosstudio/**/*.xml
CocosStudio/MainScene.udf

Debug.win32/
Release.win32/
*.opensdf
*.sdf
*.suo
*.v12.suo
*.log
Billiards/UserDefault.xml

[Dd]ebug.win32/
[Rr]elease.win32/

InfoConfig*
*.udf
