<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>eightBall_Btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,1},{167,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,73}</string>
			</dict>
			<key>eightBall_Btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,170},{167,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,73}</string>
			</dict>
			<key>eightBall_Btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,1093},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>
			<key>eightBall_Btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1093},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>
			<key>eightBall_Btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,339},{167,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,73}</string>
			</dict>
			<key>eightBall_Btn_Back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,661},{175,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,63}</string>
			</dict>
			<key>eightBall_Btn_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1093},{65,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,70}</string>
			</dict>
			<key>eightBall_Btn_OpenClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1015},{122,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,53}</string>
			</dict>
			<key>eightBall_Btn_Setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,838},{175,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,62}</string>
			</dict>
			<key>eightBall_Head_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,283},{117,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,118}</string>
			</dict>
			<key>eightBall_Line_CommonLayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,1},{658,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{658,4}</string>
			</dict>
			<key>eightBall_Loading_RotateImage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,508},{76,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,105}</string>
			</dict>
			<key>eightBall_Panel_Back.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,473},{659,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{659,392}</string>
			</dict>
			<key>eightBall_Panel_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,661},{695,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{695,430}</string>
			</dict>
			<key>eightBall_Setting_Btn_Circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,1121},{48,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,51}</string>
			</dict>
			<key>eightBall_VS_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1069,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1069,280}</string>
			</dict>
			<key>eightBall_Word_BackHall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,655},{130,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,34}</string>
			</dict>
			<key>eightBall_Word_BlueCancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,615},{78,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,38}</string>
			</dict>
			<key>eightBall_Word_Cancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1093},{82,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,34}</string>
			</dict>
			<key>eightBall_Word_Confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,1037},{82,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,35}</string>
			</dict>
			<key>eightBall_Word_GoFinish.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,787},{117,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,39}</string>
			</dict>
			<key>eightBall_Word_Matching.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1},{470,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{470,46}</string>
			</dict>
			<key>eightBall_Word_PlayAgain.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,906},{129,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,34}</string>
			</dict>
			<key>eightBall_Word_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1139},{219,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>BilliardsCommon.png</string>
			<key>realTextureFileName</key>
			<string>BilliardsCommon.png</string>
			<key>size</key>
			<string>{1200,1187}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1200</integer>
			<key>height</key>
			<integer>1187</integer>
		</dict>
	</dict>
</plist>