<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ball_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,464},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,464},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,596},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,640},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,652},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,648},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,692},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,704},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,648},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,744},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,700},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,700},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,441},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,545},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ball_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,597},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>eightBall_BallBag_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1},{73,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,497}</string>
			</dict>
			<key>eightBall_Ball_HighLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,649},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>eightBall_Ball_Shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,516},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>eightBall_Bootom_traslateBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,924},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>eightBall_Btn_Menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,594},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>eightBall_Cue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,885},{642,30}}</string>
				<key>offset</key>
				<string>{-15,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{672,30}</string>
			</dict>
			<key>eightBall_DrawCircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,933},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>eightBall_DrawCircle_Red.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,388},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>eightBall_DrawCircle_Shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,431},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>eightBall_DrawLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,917},{864,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{864,7}</string>
			</dict>
			<key>eightBall_Effect_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1035},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>eightBall_FineTurningBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1149},{43,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,423}</string>
			</dict>
			<key>eightBall_FineTurning_Back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,418},{66,465}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,465}</string>
			</dict>
			<key>eightBall_FineTurning_Scale.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1},{27,930}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,930}</string>
			</dict>
			<key>eightBall_FineTurning_Tag.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,914},{24,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,16}</string>
			</dict>
			<key>eightBall_ForbidSet_WhiteBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,987},{92,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,90}</string>
			</dict>
			<key>eightBall_HeadFramwork.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,388},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>eightBall_HighLowPole_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,388},{73,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,74}</string>
			</dict>
			<key>eightBall_HighLowPole_BigWhiteBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{438,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{438,445}</string>
			</dict>
			<key>eightBall_HighLowPole_RedPint.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,756},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>eightBall_Img_VS.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,885},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>
			<key>eightBall_Needle_Deal.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,885},{310,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,27}</string>
			</dict>
			<key>eightBall_PowerView.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,500},{317,44}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,59}</string>
			</dict>
			<key>eightBall_PowerView_Back.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,926},{331,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,59}</string>
			</dict>
			<key>eightBall_Sliderbar_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,1},{82,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,415}</string>
			</dict>
			<key>eightBall_SliderBar_Cue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1173},{25,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,349}</string>
			</dict>
			<key>eightBall_SliderBar_Power.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,441},{360,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,39}</string>
			</dict>
			<key>eightBall_Small_RedPoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,418},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>eightBall_Small_Whiteball.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,578},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>eightBall_TieBar_Dial.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1},{385,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,385}</string>
			</dict>
			<key>eightBall_TimeProgress.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,454},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>eightBall_Tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,474},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>eightBall_Tips_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1114},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>eightBall_TransparentBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,926},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>eightBall_User2Inf_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,388},{387,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{387,88}</string>
			</dict>
			<key>eightBall_UserInf_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,777},{387,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,88}</string>
			</dict>
			<key>eightBall_VS_Dial.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1035},{91,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,83}</string>
			</dict>
			<key>eightBall_WhiteBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,933},{214,428}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,428}</string>
			</dict>
			<key>eightBall_WhiteBall_BigCircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,987},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>eightBall_WhiteBall_Hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,965},{56,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,41}</string>
			</dict>
			<key>eightBall_Word_HitFullBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,803},{400,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,68}</string>
			</dict>
			<key>eightBall_Word_HitHalfBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,388},{400,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,68}</string>
			</dict>
			<key>eightBall_Word_YourRound.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,914},{257,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,67}</string>
			</dict>
			<key>img_Effect_Link.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,926},{107,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,56}</string>
			</dict>
			<key>img_num_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,987},{55,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
			<key>img_num_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,956},{40,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
			<key>img_num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,520},{56,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
			<key>img_num_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1128},{56,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
			<key>img_num_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,819},{56,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
			<key>img_num_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,987},{56,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
			<key>img_num_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1081},{56,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
			<key>img_num_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,516},{51,78}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
			<key>img_num_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1067},{56,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
			<key>img_num_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,1081},{56,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EightBall.png</string>
			<key>realTextureFileName</key>
			<string>EightBall.png</string>
			<key>size</key>
			<string>{1022,1199}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1199</integer>
		</dict>
	</dict>
</plist>